.pagination{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

 }
.pagination__container{
    display: flex;
    gap: 5px;

}

.paguination__next,
.paguination__Prev,
.paguination__page{
    cursor: pointer;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pagination__active{
    background-color: red;
    color: white;
    border-radius: 5px;
}